@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

#__next {
    width: 100%;
    height: 100%;
}